<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Login</title>
   <link rel="stylesheet" href="/static/css/style_register.css">

</head>
<body>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
                  <li style="color: red;">{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

      <h2>Login</h2>
      <form method="POST">
         <label for="username">Username:</label>
         <input type="text" id="username" name="username" required><br><br>

         <label for="password">Password:</label>
         <input type="password" id="password" name="password" required><br><br>

         <input type="submit" value="Login">
         <a class="reg-link" href="{{ url_for('register') }}">Register</a>
      </form>
</body>
</html>


